* {
	/* The width and height properties (and min/max properties) includes content, padding and border */
	box-sizing: border-box;
}
body {
	/* bg-color bg-image bg-position bg-size bg-repeat !bg-origin !bg-clip bg-attachment */
	background: rgb(104, 104, 161) url("airplane.jpg") center center / cover no-repeat fixed;
}
form.flex-container {
	flex-direction: column;
	max-width: 50%;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 40px;
	color: white;
	font-family: Arial, sans-serif;
}
div.flex-container {
	padding: 10px;
}
input[type=text],
input[type=email],
input[type=number],
select,
textarea,
button {
	width: 100%;
}
textarea {
	height: 125px;
	resize: none;
}
button {
	background-color: rgb(54, 175, 100);
	color: white;
}
.flex-container {
	display: flex;
	/* horizontal alignment */
	justify-content: space-evenly;
	/* vertical alignment */
	align-items: center;
	align-content: center;
}
div.flex-container div div {
	padding: 10px;
}
#title,
#description {
	text-align: center;
}
#name,
#email,
#number {
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	color: white;
	font-size: 16px;
}
@media screen and (max-width: 800px) {
	div.flex-container {
		/* change flex-direction when window width is <= 800 */
		flex-direction: column;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* Turn Off Number Input Spinners */
	-webkit-appearance: none;
}

#name-label {
	top: -20px;
	position: relative;
	color: white;
	font-size: 16px;
	/* t-property t-duration t-timing-function t-delay */
	transition: .5s;
}
input:focus ~ #name-label,
input:valid ~ #name-label {
	top: -40px;
	color: lime;
	font-size: 12px;
}