$primary: hsl(0, 100%, 45%);
$secondary: hsl(120, 100%, 45%);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 3.625rem;
}

body {
	width: 100%;

	font-family: sans-serif;
}

/**************** Navigation Bar ****************/
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: $primary;

	ul {
		display: flex;
		list-style-type: none;
	}

	a {
		display: inline-block;
		padding: 1.25rem;

		// font-weight: bold;
		text-align: center;
		color: white;
		text-decoration: none;
		transition: 0.2s;

		&:hover,
		&.active {
			color: black;
			background-color: $secondary;
		}
	}
}

/**************** Search Bar ****************/
.search {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;

	.search-unit {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			margin: 1rem;
			font-size: 1.25rem;
		}

		div {
			display: flex;

			input {
				width: 30rem;
				padding: 1rem;
				border: 0.125rem solid black;

				font-size: 1.5rem;
				border-radius: 0.25rem;
				outline: none;
				transition: 0.2s;

				&:hover,
				&:focus {
					border-color: $secondary;
					box-shadow: 0 0 0.5rem $secondary;
				}
			}

			button {
				padding: 1rem 1.5rem;
				border: none;
				border: 0.125rem solid black;

				background-color: $primary;
				border-radius: 0.25rem;
				cursor: pointer;
				transition: 0.2s;

				&:hover,
				&:focus {
					background-color: lighten($color: $primary, $amount: 10%);
				}
			}
		}
	}
}

/*
1366 x 657
*/
/**************** Recipes ****************/
.recipes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	grid-auto-rows: 600px;
	perspective: 1000px;

	& > .recipe {
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;
		margin: 2rem 3rem;
		box-shadow: 0 0 0.5rem 0.25rem gray;
		transform-style: preserve-3d;
		transition: transform 0.8s;

		& > .image-ingredients,
		& > .nutrients-instructions {
			display: flex;
			flex-direction: column;
			justify-content: center;

			width: 320px;
			height: 500px;
			margin: 2rem;

			position: absolute;
			backface-visibility: hidden;
			transition: display 0.8s;

			overflow-y: auto;

			& > button {
				cursor: pointer;
			}

			ol {
				margin-left: 2rem;
			}

			th,
			td {
				border: 1px solid black;
			}
		}

		/*************************/

		& > .image-ingredients {
			& > .title {
				text-align: center;
			}

			& > img {
				align-self: center;
				width: 320px;
				height: 280px;
			}
		}

		& > .nutrients-instructions {
			transform: rotateY(180deg);

			& > .nutrients,
			& > .instructions {
				display: flex;
				flex-direction: column;
			}

			& > .instructions {
				display: none;
			}
		}
	}
}
