* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 3.625rem;
}

body {
  width: 100%;
  font-family: sans-serif;
}

/**************** Navigation Bar ****************/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #e60000;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar a {
  display: inline-block;
  padding: 1.25rem;
  text-align: center;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar a:hover, .navbar a.active {
  color: black;
  background-color: #00e600;
}

/**************** Search Bar ****************/
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.search .search-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .search-unit label {
  margin: 1rem;
  font-size: 1.25rem;
}

.search .search-unit div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search-unit div input {
  width: 30rem;
  padding: 1rem;
  border: 0.125rem solid black;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search .search-unit div input:hover, .search .search-unit div input:focus {
  border-color: #00e600;
  -webkit-box-shadow: 0 0 0.5rem #00e600;
          box-shadow: 0 0 0.5rem #00e600;
}

.search .search-unit div button {
  padding: 1rem 1.5rem;
  border: none;
  border: 0.125rem solid black;
  background-color: #e60000;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search .search-unit div button:hover, .search .search-unit div button:focus {
  background-color: #ff1a1a;
}

/*
1366 x 657
*/
/**************** Recipes ****************/
.recipes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-rows: 600px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.recipes > .recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 2rem 3rem;
  -webkit-box-shadow: 0 0 0.5rem 0.25rem gray;
          box-shadow: 0 0 0.5rem 0.25rem gray;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  /*************************/
}

.recipes > .recipe > .image-ingredients,
.recipes > .recipe > .nutrients-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  height: 500px;
  margin: 2rem;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: display 0.8s;
  transition: display 0.8s;
  overflow-y: auto;
}

.recipes > .recipe > .image-ingredients > button,
.recipes > .recipe > .nutrients-instructions > button {
  cursor: pointer;
}

.recipes > .recipe > .image-ingredients ol,
.recipes > .recipe > .nutrients-instructions ol {
  margin-left: 2rem;
}

.recipes > .recipe > .image-ingredients th,
.recipes > .recipe > .image-ingredients td,
.recipes > .recipe > .nutrients-instructions th,
.recipes > .recipe > .nutrients-instructions td {
  border: 1px solid black;
}

.recipes > .recipe > .image-ingredients > .title {
  text-align: center;
}

.recipes > .recipe > .image-ingredients > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 320px;
  height: 280px;
}

.recipes > .recipe > .nutrients-instructions {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.recipes > .recipe > .nutrients-instructions > .nutrients,
.recipes > .recipe > .nutrients-instructions > .instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipes > .recipe > .nutrients-instructions > .instructions {
  display: none;
}
/*# sourceMappingURL=index.css.map */